@charset "UTF-8";

/*
  Paleta de cores
  Verde: #49a09d
  Lilás: #5f2c82
*/

* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background-color: #281236;
  width: 100vw;
  height: 100vh;
}

div#imagem {
  background-image: url(/imagens/pexels-damir-16335483.jpg);
  background-position: center center;
  background-size: cover;

  width: 50vw;
  height: 150px;
  border-radius: 15px 15px 0px 0px;
}

section#login {
  display: block;
  background-color: #281236;
  border-radius: 15px;
  width: 50vw;
  height: 400px;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div#formulario{
  background-color: white;
}

div > h1 {
  text-align: center;
  padding-bottom: 10px;
  
}

div > p {
  padding-bottom: 10px;

}

.caixat {
  color: white;
  background-color: #281236;
  border-radius: 5px;
  width: 100%;
}
