@charset "UTF-8";

/*
  Paleta de cores
  Verde: #49a09d
  Lilás: #5f2c82
*/

* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background-color: #281236;
  width: 100vw;
  height: 100vh;
}

section#login {
  background-color: white;
  border-radius: 15px;
  width: 80vw;
  height: 25vh;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div > h1 {
  text-align: center;
  padding-bottom: 10px;
  
}

div > p {
  padding-bottom: 5px;
}

i {
  background-color:#281236;
  color: white;
  height: 35px;

}

.caixat {
  border: #5f2c82 2px solid;
  border-radius: 5px;
  width: 373px;
  height: 35px;
  
}

#iemail, #isenha {
  width: 340px;
  height: 25px;
}
